.form-control {
  min-height: 250px;
  max-height: 250px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 150%;
  
}

.form-control+.alert {
  margin-top: 10px;
}

.chat-message {
  border: 2px solid rgba(6, 87, 174, 0.861);
  display: block;
  height: fit-content;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: fit-content;
}

.chat-message.me {
  background-color: white;
  border: 2px solid  rgba(0, 128, 0, 0.634);
  align-self: flex-end;
}

.chat-message.other {
  background-color: white;
}

.chat-message p:first-child {
  margin-bottom: 0;
}

.chat-message p:first-child span {
  font-weight: bold;
}

.chat-message p:first-child small {
  font-size: 0.75rem;
  margin-left: 10px;
}

.custom-background {
  background-image: url('https://www.allabouttennis.co.uk/wp-content/uploads/2021/05/featured-image.jpg');
  background-size: cover;
  background-position: center;
}