header img {
    width: 100px;
    margin-top: 20px;
    align-items: center;
    margin-left: 600px;
}

header {
    background-color: white;
    height: 150px;
    border-bottom: 5px solid rgba(6, 87, 174, 0.861);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-bar {
    display: flex;
    
}

.link-bar a {
    margin-right: 15px; 
    margin-top: 100px;
    color: green; 
    font-weight: bold;
}

.right-link {
    margin-left: 10px; 
}



