.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

header img {
    width: 100px;
    margin-top: 20px;
    margin: 0 auto;
}

header {
    background-color: white;
    height: 150px;
    border-bottom: 5px solid rgba(6, 87, 174, 0.861);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-bar {
    display: flex;
    
}

.link-bar a {
    margin-right: 15px; 
    margin-top: 10px;
    display: inline-block;
    position: relative;
    color: green; 
    font-weight: bold;
}

.right-link {
    margin-left: 10px; 
}

.icon-bar {
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
}

.icon {
    max-width: 30px; 
    max-height: 30px; 
    
}

.icon-bar img:nth-child(1) {
    margin-right: 50px; 
}

.icon-bar img:nth-child(2) {
    margin-right: 50px; 
}

.icon-bar img:nth-child(3) {
    margin-right: 50px; 
}