<header>
    <div class="container"></div>
    <a href="/" title="go to home page">
        <img src="assets/images/tennis_logo.png" alt="logo des Tennis Clubs" />
    </a>
    <div class="container">
        <div class="icon-bar">
            <img src="assets/images/instagram.png" alt="Icon 1" class="icon" />
            <img src="assets/images/news.png" alt="Icon 2" class="icon"/>
            <img src="assets/images/tennis.png" alt="Icon 3" class="icon"/>
        </div>
        <div class="link-bar">
            <a href="https://www.instagram.com/sg_aces/" class="right-link">Instagram</a>
            <a href="https://www.atptour.com/en/news " class="right-link">News</a>
            <a href="https://www.kicker.de/genf-schweiz/turniersieger" class="right-link">Ergebnisse</a>
        </div>
    </div>
</header>


